linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

#calculator {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
}

html {
    height: 100%;
    background: #8daff5;
    -webkit-backface-visibility: hidden;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    ;
}

::-moz-selection {
    background: #ebf8af;
}

::selection {
    background: #ebf8af;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

#calculator {
    width: 435px;
    height: 400px;
    margin: 80px auto;
    padding: 20px 12px 10px 20px;
    background: #edf2f5;
    perspective: 800px;
    border-bottom: 10px solid #3e5b6a;
    border-radius: 19px;
    box-shadow: 0px 10px 10px rgba(69, 102, 118, 0.5);
}


.screenArea {
    height: 100px;
    width: 408px;
    margin-bottom: 20px;
    padding: 0 10px;
    background: #534758;
    border-radius: 9px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 27px;
    text-align: right;
    letter-spacing: 1px;
    text-overflow: hidden;
}

.calculating {
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    opacity: 0.6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.results {
    font-size: 47px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #f3fcfe;
}

.keys span {
    overflow: hidden;
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 80px;
    height: 60px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 3px #083c4f;
    margin: 0 7px 8px 0;
    font-size: 1.8em;
    color: #888;
    line-height: 60px;
    text-align: center;
    user-select: none;
    transition: all 0.4s ease;
    -webkit-backface-visibility: hidden;
}

.keys span.operator {
    background: #f5d38d;
    color: white;
}

.keys span.eval {
    background: #8bdd8f;
    color: #3e5b6a;
    width: 167px;
}

.keys span.clear {
    background: #f59f8d;
}

.keys #zero {
    width: 167px;
}

.keys span:hover {
    background: #effbfd;
    color: #3e5b6a;
}

.keys span.operator:hover {
    background: #f1c15e;
    color: white;
}

.keys span.eval:hover {
    background: #329c52;
    color: white;
}

.keys span.clear:hover {
    background: #f1785e;
    color: white;
}

.keys span:active {
    box-shadow: 0px 0px #6b54d3;
    top: 3px;
}